/* ------------- General ------------- */
html {
    scroll-behavior: smooth;
    font-family: monospace, sans-serif;
}

body {
    background-color: beige;
    color: darkslategray;
    padding: 0rem;
    margin: 0rem;
}

section {
    padding: 4rem;
    height: 100vhs;
    min-height: 45rem;
    box-sizing: border-box;
}

.subhead {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 2.5rem;
}

.left-half {
    width: 50%;
}

/* ------------- Navigation ------------- */
nav a {
    text-decoration: none;
    color: darkslategrey;
    margin: 0rem;
    padding: 1rem;
}

nav a:hover {
    background-color: darkslategrey;
    color: lightsteelblue;
}

nav {
    display: flex;
    justify-content: flex-end;
    background-color: lightsteelblue;
    font-size: 1.5rem;
    position: fixed;
    top: 0;
    width: 100%;
}

/* ------------- Home ------------- */
#home {
    background-color: darkslategrey;
    color: beige;
    font-size: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#home h1 {
    margin: 0rem;
}

#home img {
    width: 30rem;
    border-radius: 15rem;
}

#tagline {
    font-variant: small-caps;
    font-size: 2rem;
}

/* ------------- About ------------- */
#about {
    background-color: beige;
}

#about p {
    font-size: 1.5rem;
    padding-left: 5rem;
    padding-right: 5rem;
}

/* ------------- Expertise ------------- */
#expertise {
    justify-content: center;
}
.logo-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1.5rem;
}

.logo-row img {
    width: 4.5rem;
}

/* ------------- Portfolio ------------- */
#portfolio {
    background-color: beige;
}

/* ------------- Contact ------------- */
#contact {
    background-color: beige;
}